<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<title>BancBox</title>
<style type="text/css">
<!--
@import url("css/bb_client1.css");
@import url("css/fonts.css");
.style1 {color: #FF0000}

 -->
</style>
</head>

<body>


 <!--MAIN_CONTAINER_TOP_STARTING-->

<!--Subscriber Bar Starting-->


<div class="main_container" style="background:url(images/bg_main_container_top.png) bottom left repeat-x; background-color:#333; padding:10px 0px;">

<div class="bancbox_container">
  <table width="100%" border="0" cellspacing="0" cellpadding="2">
    <tr>
      <td width="19%" height="55" align="left" valign="middle"><a href="#"><img src="images/logo.png" alt="Logo" width="158" height="63" border="0" /></a></td>
      <td width="81%" align="left" class="font_black_28" valign="middle">Get Connected with Ruby</td>
    </tr>
  </table>
</div>
</div>

<!--Subscriber Bar End-->


<div class="main_container" style="background-color:#6cc3da;">
<div class="bancbox_container" style="height:4px;">

 </div>
</div>

<!--MAIN_CONTAINER_TOP_END-->



<!--MAIN_CONTAINER_MIDDLE_STARTING-->




<div class="main_container" style="background:#f4fbfd;">
<div class="inner" style="background:none;">
<div class="bancbox_container">
<div class="inner1">
  <div class="font_ptsan_bold_35" style="padding:20px 0px; padding-bottom:10px;">Great You created a client on BancBox .</div>
  <div class="font_ptsan_bold_15" >You can see the details of the client you just created using the link below. The data is being pulled directly from BancBox.</div>
  <div class="font_ptsan_bold_35" style="padding:20px 0px; padding-bottom:10px; margin-bottom:300px;"><span class="font_ptserif_bold30"><a href="/client/<%= @banc_box_id %>"><%= @first_name %> <%= @last_name %> (<%= @banc_box_id %>)</a></span></div>
  <div class="font_ptsan_bold_15" style="padding-bottom:20px; font-size:13px;" >Getting connected app using Ruby is a sample application provided by BancBox. Please contact us at contact@bancbox.com if you have any question.</div>
</div>
</div>




</div>
</div>

<!--MAIN_CONTAINER_MIDDLE_END-->









<!--MAIN_CONTAINER_BOTTOM_STARTING (Footer)-->
<div class="main_container" style="background:#2a3237; margin:0px; padding:4px 0px; border-top:2px solid #6cc3da;">
<div class="bancbox_container">
<span class="footer_left">© 2012 BancBox.com. All Rights Reserved. &nbsp;  &nbsp;| &nbsp; Home &nbsp;   |    &nbsp;   About Us&nbsp; | </span>  <span class="footer_right1">^ Back to Top</span></div>
</div>


<!--MAIN_CONTAINER_BOTTOM_END (Footer)-->


</body>
</html>
